[submodule "modules/html5-quick-template"]
	path = modules/html5-quick-template
	url = https://github.com/piwi/html5-quick-template.git
[submodule "modules/markdown-extended"]
	path = modules/markdown-extended
	url = https://github.com/piwi/markdown-extended.git
[submodule "modules/dev-tools"]
	path = modules/dev-tools
	url = https://github.com/piwi/dev-tools.git
[submodule "modules/binaries"]
	path = modules/binaries
	url = https://github.com/piwi/binaries.git
[submodule "modules/lesspipe"]
	path = modules/lesspipe
	url = https://github.com/piwi/dotfiles.git
	branch = lesspipe
[submodule "modules/mde-html5-quick-template"]
	path = modules/mde-html5-quick-template
	url = https://github.com/piwi/html5-quick-template.git
	branch = mde-master
[submodule "modules/fonts.conf"]
	path = modules/fonts.conf
	url = https://gist.github.com/5599072.git
[submodule "modules/phpclib"]
	path = modules/phpclib
	url = https://github.com/piwi/phpclib.git
[submodule "modules/vim-pathogen"]
	path = modules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "modules/vim-nerdtree"]
	path = modules/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "modules/vim-mde-syntax"]
	path = modules/vim-mde-syntax
	url = https://github.com/markdown-extended/vim-mde-syntax.git
[submodule "modules/piwi-bash-library"]
	path = modules/piwi-bash-library
	url = https://github.com/piwi/bash-library.git
[submodule "modules/mde-cgi"]
	path = modules/mde-cgi
	url = https://github.com/piwi/mde-cgi.git
[submodule "modules/atelierspierrot"]
	path = modules/atelierspierrot
	url = https://github.com/atelierspierrot/atelierspierrot.git
