#
# .gitignore
# <http://github.com/piwi/dotfiles.git>
#

# IDE, OS & apps files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon
._*
*~
*~lock*
Thumbs.db
ehthumbs.db
Desktop.ini
nbproject
.cache
.settings
.project
.buildpath
.idea
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi

# any _alt file
*_alt

# any *tmp* file
*tmp*

# exclusion of the 'dev/' subdir
dev/*

# exclusion of the niximp symlink
niximp.sh

# the composer binary
*composer.phar

# exclusion of personal notes
notes/perso/*

# www packages sources
www/dependencies/bin/*
www/dependencies/src/*
www/dependencies/composer.lock
www/docbook/*
www/projects/composer.lock
www/projects/bin/*
www/projects/src/*
www/projects/www/*
www/projects/carte-blanche/src/*
www/projects/carte-blanche/bin/*
www/projects/carte-blanche/var/*
www/projects/carte-blanche/i18n/*
www/projects/carte-blanche/doc/*
www/projects/carte-blanche/config/*
www/projects/carte-blanche/www/*

# Hack to allow keeping an empty directory
# this one HAS to keep last !!
!.gitkeep
