#
# .editorconfig <http://editorconfig.org/>
# by @pierowbmstr (me at e-piwi dot fr)
# <http://github.com/piwi/dotfiles.git>
# (personal) file licensed under CC BY-NC-SA 4.0 <http://creativecommons.org/licenses/by-nc-sa/4.0/>
#

# top-most EditorConfig file
root = true

# all files
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8

[*.php]
trim_trailing_whitespace = true
insert_final_newline = true

# Endfile
# vim: autoindent tabstop=4 shiftwidth=4 expandtab softtabstop=4 filetype=ini
