#
# .my.cnf
# by @picas (me at picas dot fr)
# <http://github.com/e-picas/dotfiles.git>
# (personal) file licensed under CC BY-NC-SA 4.0 <http://creativecommons.org/licenses/by-nc-sa/4.0/>
#
# Read more about MySQL configuration file at: <https://dev.mysql.com/doc/refman/5.1/en/option-files.html>
#

# Default values that applies to all MySQL Servers
[mysqld]
local-infile
skip-external-locking
binlog-direct-non-transactional-updates
auto-rehash

# prompt like "user@host [database]"
prompt=\\u@\\h [\\d]>\\_

# sizes
open-files-limit=           1024
character-set-server=       latin1
key_buffer_size =           384M
max_allowed_packet =        1M
table_open_cache =          512
sort_buffer_size =          2M
read_buffer_size =          2M
read_rnd_buffer_size =      8M
myisam_sort_buffer_size =   64M
thread_cache_size =         8
query_cache_size =          32M
sort_buffer=                256K
max_heap_table_size=        1M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency =        8
# Increase default connect_timeout to avoid intermittent
# disconnects when test servers are put under load see BUG#28359
connect-timeout=            60
slave-net-timeout=          120

log-bin-trust-function-creators=1

log-bin=mysqld-bin

# Run tests with the performance schema instrumentation
loose-enable-performance-schema
# Run tests with a small number of instrumented objects
# to limit memory consumption with MTR
loose-performance-schema-max-mutex-instances=10000
loose-performance-schema-max-rwlock-instances=10000
loose-performance-schema-max-table-instances=500
loose-performance-schema-max-table-handles=1000

[mysqld_safe]
key_buffer=1536M
table_cache=256
sort_buffer=4M
read_buffer_size=1M

[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

# vim: autoindent tabstop=4 shiftwidth=4 expandtab softtabstop=4 filetype=ini
