# PHP settings
SetEnv      PHP_54
php_value   error_log   var/logs/php_errors.log

# Rewriting if so
#RewriteEngine  On
#RewriteBase    /

# MDE handler for '*.md' files
Options     +ExecCGI
AddHandler  cgi-script  .sh
AddType     text/html   .md
AddHandler  MarkDown    .md
Action      MarkDown    /cgi-scripts/mde_apacheHandler.sh virtual

